.benefits-section--version-look-1 {
    background-color: var(--color-offwhite);
}

.benefits-section--version-look-1 + .benefits-section--version-look-1,
.benefits-section--version-look-2 + .benefits-section--version-look-2 {
    padding-top: 20px;
}

@media (min-width: 1200px) {
    .benefits-section--version-look-1 + .benefits-section--version-look-1,
    .benefits-section--version-look-2 + .benefits-section--version-look-2 {
        padding-top: 0;
    }   
}

.benefits-section__header {
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .benefits-section__header {
        margin-bottom: 40px;
    }
}

.benefits-section__row .row {
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
}

.benefits-section__item {
    margin-bottom: 40px;
}

@media (min-width: 1200px) {
    .benefits-section--version-look-2 .benefits-section__item:nth-child(1),
    .benefits-section--version-look-2 .benefits-section__item:nth-child(2) {
        border-bottom: 0;
    }

    .benefits-section--version-look-2 .benefits-section__item:not(:first-child) {
        border-left: 1px solid var(--color-border);
    }
}

.benefits-section__card {
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: var(--color-white);
    height: 100%;
}

.benefits-section__image img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .benefits-section__image {
        padding-top: 66.65%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }

    .benefits-section__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.benefits-section__content {
    text-align: center;
    margin-top: 20px;
}

.benefits-section__content {
    font-size: 17px;
}

.benefits-section__content strong {
    font-family: 'avenir_next_lt_probold';
}

.benefits-section--version-look-1 .benefits-section__content strong {
    font-size: 20px;
}

.benefits-section--version-look-2 .benefits-section__row .slick-list {
    margin-bottom: 0;
}

.benefits-section__row .slick-list {
    margin-bottom: 20px;
}

.benefits-section__row .slick-list .slick-slide {
    padding: 25px 20px;
}

.benefits-section__row .slick-list .slick-slide {
    padding-bottom: 0;
}

.benefits-section__row .slick-track {
    display: flex;
}

.benefits-section__row .slick-track .slick-slide {
    height: inherit;
}

.benefits-section__row .slick-track .slick-slide > div,
.benefits-section__row .slick-track .slick-slide > div .benefits-section__item,
.benefits-section__row .slick-track .slick-slide > div .benefits-section__card {
    height: 100%;
    margin: 0;
}

@media (max-width: 1199px) {
    .benefits-section__row .row {
        display: flex;
    }

    .benefits-section__row .slick-arrow {
        position: relative;
        bottom: 0;
        top: 0;
        left: 0;
        margin: 0 10px;
    }

    .benefits-section__row .slick-list {
        order: 0;
    }

    .benefits-section__row .slick-prev {
        order: 1;
    }

    .benefits-section__row .slick-next {
        order: 2;
    }
}