.brokers-list .btn {
    margin-bottom: 0;
}

.brokers-list__upper {
    background-color: var(--color-tertiary);
    border-radius: 20px;
    padding: 30px 22px;
}

@media (min-width: 768px) {
    .brokers-list__upper {
        padding: 40px 60px;
    }
}

@media (min-width: 1200px) {
    .brokers-list__upper {
        padding: 50px 70px;
    }
}

.brokers-list__upper h2,
.brokers-list__upper p {
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

.brokers-list__upper p {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.brokers-list__upper__form {
    margin-top: 30px;
}

.brokers-list__upper__form .form-col {
    margin-bottom: 0;
}

.brokers-list__upper__form__item:not(:last-child) {
    margin-bottom: 30px;
}

.brokers-list__upper__form__item .btn {
    width: 100%;
}

@media (min-width: 768px) {
    .brokers-list__upper__form {
        margin: 0 -15px;
    }

    .brokers-list__upper__form__item {
        flex: 1;
        padding: 0 15px;
    }

    .brokers-list__upper__form__item:not(:last-child) {
        margin-bottom: 0;
    }

    .brokers-list__upper__form__item:last-child {
        flex: initial;
    }

    .brokers-list__upper__form {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .brokers-list__upper__form {
        margin-top: 0;
    }

    .brokers-list__upper {
        display: flex;
        align-items: center;
    }

    .brokers-list__upper p {
        margin-bottom: 10px;
    }

    .brokers-list__upper__title {
        padding-right: 55px;    
    }

    .brokers-list__upper__form {
        display: flex;
        align-items: flex-end;
        flex: 1;
        margin-top: 0;
    }
}

.brokers-list__list {
    display: flex;
    flex-wrap: wrap;
}

.brokers-list__item {
    width: 100%;
}

.brokers-list__item:not(:last-child) {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .brokers-list__list {
        margin: 0 -16px -32px;
    }

    .brokers-list__item {
        width: 50%;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .brokers-list__item:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (min-width: 1200px) {
    .brokers-list__item {
        width: 33.33%;
    }
}

.brokers-list__container {
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .brokers-list__container {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .brokers-list__container {
        margin-top: 60px;
    }
}

.brokers-list__content h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.brokers-list__card {
    display: flex;
    align-items: center;
    background-color: var(--color-offwhite);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 70px;
    cursor: pointer;
    position: relative;
}

@media (min-width: 768px) {
    .brokers-list__card {
        min-height: 215px;
    }
}

@media (min-width: 1200px) {
    .brokers-list__card {
        min-height: 190px;
    }
}

.brokers-list__logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 7px;
}

.brokers-list__logo img {
    width: 100%;
    height: auto;
}

.brokers-list__content {
    padding-left: 30px;
    width: calc(100% - 110px);
}

.brokers-list__content > span {
    font-size: 14px;
    color: var(--color-tertiary);
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.brokers-list__content > span i {
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
}

.brokers-list__arrow {
    font-size: 20px;
    color: var(--color-white);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 56px;
    height: 56px;
    border-radius: 20px 0 20px 0;
    background: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.brokers-list__arrow > span {
    font-size: 18px;
    font-family: 'avenir_next_lt_prodemi';
    display: inline-block;
    position: absolute;
    right: 0;
    width: 200px;
    text-align: right;
    padding-right: 50px;
    opacity: 0;
    right: 30px;
    transition: opacity 0.25s ease-in-out,
                right 0.25s ease-in-out;
}

@media (min-width: 1200px) {

    .brokers-list__arrow {
        background-color: transparent;
    }

    .brokers-list__card::after {
        z-index: 1;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 56px;
        width: 56px;
        border-radius: 20px 0 20px 0;
        background: var(--color-primary);
        -webkit-transform-origin: right;
                transform-origin: right;
        transition: width 0.45s ease-in-out,
                    background 0.4s ease-in-out,
                    border-radius 0.2s ease-in-out;;
    }

    .brokers-list__card:hover::after {
        width: 100%;
        background: var(--color-secondary);
        border-radius: 0 0 20px 20px;
    }

    .brokers-list__card:hover .brokers-list__arrow > span {
        right: 0;
        opacity: 1;
    }

    .brokers-list__card:hover .brokers-list__arrow {
        border-radius: 0 0 20px 0;
    }
}

.brokers-list__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    overflow: scroll;
}

@media (min-width: 768px) {
    .brokers-list__modal {
        overflow: hidden;
    }
}

.brokers-list__modal__image {
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -80px 0 30px;
}

@media (min-width: 768px) {
    .brokers-list__modal__image {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
}


@media (min-width: 1200px) {
    .brokers-list__modal__image {
        width: 220px;
        height: 220px;
    }
}

@media (min-width: 768px) {
    .brokers-list__modal__image {
        margin: 0;
    }
}

.brokers-list__modal__image img {
    width: 100%;
    height: auto;
}

.brokers-list__modal__container {
    max-width: calc(872px + 44px);
    padding: 30px 22px;
    display: none;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .brokers-list__modal__container {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 22px;
        height: auto;
    }
}

.brokers-list__modal__wrapper {
    width: calc(100% - 44px);
    padding: 0 22px 20px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 510px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .brokers-list__modal__wrapper {
        padding: 0 70px 50px;
        height: auto;
        max-height: 100%;
        width: 100%;
        position: relative;
        -webkit-transform: none;
                transform: none;
        top: 0;
    }
}

@media (min-width: 1200px) {
    .brokers-list__modal__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.brokers-list__modal__left,
.brokers-list__modal__right {
    width: 100%;
}

@media (max-width: 767px) {
    .brokers-list__modal__right {
        height: 100%;
        overflow: scroll;
        padding-right: 10px;
    }
}

.brokers-list__modal__left .btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .brokers-list__modal__left .btn {
        margin-bottom: 0;
    }
}

.brokers-list__modal__upper {
    background-color: var(--color-primary);
    width: calc(100% + 44px);
    margin-left: -22px;
    margin-right: -22px;
    padding: 50px 33px 40px;
}

.brokers-list__modal__upper .brokers-list__modal__upper__inner {
    width: calc(100% - 95px);
    padding-left: 20px;
    margin: 0 0 0 auto;
}

@media (max-width: 767px) {
    .brokers-list__modal__upper {
        min-height: 115px;
        padding: 45px 33px 25px;
    }
}

@media (min-width: 768px) {
    .brokers-list__modal__left {
        width: 150px;
        margin-top: -120px;
    }

    .brokers-list__modal__upper {
        background-color: var(--color-primary);
        width: calc(100% + 140px);
        padding: 70px 0 50px;
        margin-left: -70px;
        margin-right: -70px;
    }
    
    .brokers-list__modal__right {
        padding-top: 30px;
    }

    .brokers-list__modal__upper .brokers-list__modal__upper__inner {
        width: calc(100% - 200px);
        padding-left: 50px;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .brokers-list__modal__left {
        width: 220px;
        margin-top: 0;
        top: -130px;
        position: relative;
    }

    .brokers-list__modal__right {
        width: calc(100% - 220px);
        padding-left: 50px;
        padding-top: 40px;
    }

    .brokers-list__modal__upper .brokers-list__modal__upper__inner {
        width: calc(100% - 290px);
        padding-left: 50px;
        margin-left: auto;
    }
}

.brokers-list__modal__close {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .brokers-list__modal__close {
        right: 20px;
        top: 15px;
    }
}

.brokers-list__modal__close span {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.brokers-list__modal__close span:before,
.brokers-list__modal__close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--color-white);
}

.brokers-list__modal__close span:before {
    width: 2px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
}

.brokers-list__modal__close span:after {
    width: 2px;
    height: 100%;
}

.brokers-list__modal__info {
    margin-top: 30px;
    margin-bottom: 0;
}

.brokers-list__modal__info div {
    display: flex;
}

.brokers-list__modal__info div:nth-child(odd) {
    background-color: var(--color-offwhite);
}

.brokers-list__modal__info div dt,
.brokers-list__modal__info div dd {
    padding: 13px 20px;
}

.brokers-list__modal__info div dt {
    width: 40%;
    margin-bottom: 0;
    line-height: 1;
    font-size: 12px;
    color: #8D99AE;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.brokers-list__modal__info div dd {
    width: 60%;
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
}

.brokers-list__modal__location {
    font-size: 14px;
    color: #EFF2F4;
    opacity: 0.8;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.brokers-list__modal__location i {
    font-size: 10px;
}

.brokers-list__modal__title {
    color: var(--color-white);
    padding: 0;
}

.brokers-list__pagination {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brokers-list__pagination__button {
    margin-top: 20px;
}

.brokers-list__pagination__button .btn.is-disabled {
    cursor: none;
    pointer-events: none;
    background-color: var(--color-tertiary);
    display: none;
}

.brokers-list__pagination__button .btn:before {
    content: "\e904";
}

.brokers-list__pagination__wrapper {
    width: 300px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color-offwhite);
    margin-top: 10px;
    position: relative;
}

.brokers-list__pagination__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: var(--color-secondary);
    transition: width 0.3s ease-in-out;
}

.brokers-list__modal__right .brokers-list__modal__upper__inner {
    margin-bottom: 20px;
}

.brokers-list__modal__right .brokers-list__modal__location {
    color: #8D99AE;
    opacity: 0.8;
}

.brokers-list__modal__right .brokers-list__modal__title {
    color: var(--color-primary);
}