/*------------------------------------*\
    
    CSS Custom Properties (aka CSS Variables)
 
    Custom properties are entities defined by CSS authors that contain specific values to be reused throughout a document
    Example usage: brand colors, common margins, drop-shadows, border styles, and more!
    
    Visit the CSS Custom Properties guru card for more info: https://app.getguru.com/card/ceE54p4i/CSS-Custom-Properties-AKA-CSS-Variables 

\*------------------------------------*/


/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

 :root {
    --section-margins: 60px;

    --color-primary: #2474BB;
    --color-secondary: #DA1F2C;
    --color-tertiary: #8D99AE;
    --color-text-default: #333333;

    --color-border: #e2e7eb;
    --color-offblue: #8f9aab;
    --color-offwhite: #EFF2F4;
    --color-white: #fff;
    --color-black: #000;
}

@media (min-width: 768px) {
    :root {
        --section-margins: 80px;
    }
}

@media (min-width: 1025px) {
    :root {
        --section-margins: 100px;
    }
}