/*------------------------------------*\
    
    Header CSS
 
    eg: Header, Navigation, Ubermenu, Masthead 
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */

 .page-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    z-index: 9999;
    padding: 8px 0;
    border-bottom: 1px solid rgba(141, 153, 174, 0.3);
    border-top: 3px solid #2474BB;
}

@media (max-width: 767px) {
    .page-header {
        transform: none !important;
    }
}

@media (min-width: 1200px) {
    .home .page-header {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.admin-bar .page-header {
    top: auto;
}

.mobile-fixed-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2474BB;
    padding: 8px 0;
}

.fixed-nav-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.fixed-btn .btn {
    padding: 10px 45px 10px 19px;
}

.toggle-menu {
    font-size: 12px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: 'avenir_next_lt_prodemi';
    cursor: pointer;
    line-height: 1em;
    text-align: center;
    font-weight: normal;
    position: relative;
    width: 50px;
    height: 50px;
}

.toggle-menu > span {
    display: block;
    position: relative;
    width: 32px;
    height: 28px;
    margin: 0 auto 4px;
}

.toggle-menu > span span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    left: 0;
    transition: opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .toggle-menu > span span {
        background-color: var(--color-black);
    }
}

.toggle-menu > span span:first-child {
    top: 5px;
}

.toggle-menu > span span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.toggle-menu > span span:last-child {
    bottom: 5px;
}

.toggle-menu.is-active > span span {
    transition: opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out 0.3s;
    transition: transform 0.3s ease-in-out 0.3s,
                opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out 0.3s,
                opacity 0.3s ease-in-out,
                top 0.3s ease-in-out,
                bottom 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out 0.3s;
}

.toggle-menu.is-active > span span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50px);
            transform: translateY(-50%) translateX(-50px);
}

.toggle-menu.is-active > span span:first-child {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.toggle-menu.is-active > span span:last-child {
    bottom: 13px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
}

.toggle-menu i {
    font-size: 32px;
    display: block;
    line-height: 1em;
    font-family: 'icomoon';
    font-weight: normal;
}

.logo {
    max-width: 166px;
    float: left;
    margin-top: 0;
}

img.logo {
    float: none;
    margin-top: 5px;
}

.logo a {
    display: block;
    background-image: none;
    box-shadow: none;
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 1024px) { 
	
    .logo a img { opacity: 0; }
  
    .logo a {
        background: url('/wp-content/uploads/2022/11/logo-transflo-high-res.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        height: auto;
        width: 100%;
        background-position: center;
     }
    
  }
  
  /* iPhone 12 & 13 */
  @media (-webkit-min-device-pixel-ratio: 3) and (max-width: 1024px) {
    .logo a img { opacity: 0; }
  
    .logo a {
        background: url('/wp-content/uploads/2022/11/logo-transflo-high-res.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        height: auto;
        width: 100%;
        background-position: center;
     }
  }

.header-right {
    float: right;
}

.js-search-toggle i {
    font-size: 18px;
    color: #8D99AE;
    cursor: pointer;
    line-height: 1em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #EFF2F4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.js-search-toggle span {
    font-size: 12px;
    color: #8D99AE;
    cursor: pointer;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'avenir_next_lt_prodemi';
    margin: 0;
    display: none;
}

.desktop-menu__search {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .desktop-menu__search {
        -webkit-transform: translateX(100px);
            transform: translateX(100px);
    }
}

.desktop-menu__search.is-shown {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.desktop-menu__search .container {
    padding-left: 0;
}

@media (min-width: 768px) {
    .desktop-menu__search .container {
        padding-left: var(--bs-gutter-x, 52px);
    }
}

@media (min-width: 1200px) {
    .desktop-menu__search .container {
        padding-left: var(--bs-gutter-x, 16px);
    }
}

.desktop-menu__search.js-search-active {
    display: block;
}

.desktop-menu__search::before {
    position: absolute;
    content: '';
    top: 0%;
    right: 0;
    background-color: #8D99AE;
    height: 100%;
    width: 30px;
}

.desktop-menu_wrap {
    background-color: #8D99AE;
    padding: 12px 0 12px 15px;
    border-radius: 50px 0 0 50px;
    position: relative;
    max-width: 457px;
    float: right;
    width: 100%;
}

.desktop-menu_wrap button {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 36px;
    height: 36px;
    background-color: #2474BB;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-menu_wrap input {
    padding: 0 55px 0 15px;
}

.js-search-toggle.js-search-active i::before {
    content: '\e908';
}

.header-btn .btn {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .page-header {
        position: fixed;
        padding: 18px 0;
        border-top: 4px solid #2474BB;
    }
    
    .logo {
        max-width: 200px;
        margin-top: 0;
    }

    .js-search-toggle {
        float: left;
        text-align: center;
        margin: 5px 28px 0;
    }

    .js-search-toggle i {
        font-size: 20px;
        color: #8D99AE;
        width: auto;
        height: auto;
        border-radius: 0;
        background: transparent;
        display: block;
    }

    .js-search-toggle span {
        display: block;
        padding-top: 7px;
    }

    .toggle-menu {
        color: var(--color-black);
        float: left;
    }

    .header-btn {
        float: left;
    }

    .desktop-menu__search::before {
        width: 52px;
    }

}
@media (min-width: 1200px) {
    .page-header {
        padding: 0 0;
    }
    
    .logo {
        max-width: 175px;
        margin-top: 0;
    }

    img.logo {
        margin-top: 0;
    }

    .js-search-toggle {
        float: right;
        text-align: center;
        margin: 20px 25px 0 20px;
    }

    .js-search-toggle i {
        font-size: 18px;
    }

    .js-search-toggle i:hover {
        color: #2474BB;
    }

    .js-search-toggle span {
        display: none;
    }

    .header-btn {
        float: right;
    }

    .desktop-menu_wrap {
        background-color: #8D99AE;
        padding: 12px 0 12px 15px;
        border-radius: 50px 0 0 50px;
        position: relative;
        max-width: 437px;
        float: right;
        width: 100%;
    }
    
    .desktop-menu_wrap button {
        right: 15px;
        top: 22px;
    }

    .desktop-menu_wrap input {
        padding: 0 60px 0 25px;
    }

}

@media (min-width: 1255px) {
    .logo {
        max-width: 215px;
    }
}

@media (min-width: 1366px) {
    .logo {
        max-width: 225px;
    }

    .desktop-menu__search::before {
        width: 400px;
    }
    

}

@media (min-width: 1920px) {

    .desktop-menu__search::before {
        width: 25%;
    }
    
}

@media (min-width: 2500px) {

    .desktop-menu__search::before {
        width: 35%;
    }
    
}

@media (min-width: 3200px) {

    .desktop-menu__search::before {
        width: 40%;
    }
    
}

/**
 * Navigation
 */


/* General Styling */

.nav-primary {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 9;
}

.nav-primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header .nav-primary li {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-primary li:before,
.nav-primary li:after {
    display: none; 
}

.nav-primary a:not(.btn) {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-black);
    font-family: 'avenir_next_lt_proregular';
    padding: 0 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

.sub-menu-toggle {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 10px;
    font-weight: normal;
    color: #2474BB;
}


@media (min-width: 1200px) {
    .nav-primary {
        display: block;
        padding: 12px 0 0 0;
        float: right;
    }

    .nav-primary ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    .page-header .nav-primary li {
        cursor: pointer;
        position: relative;
        margin: 0;
    }
    
    .page-header .nav-primary .ubermenu > ul > li {
        padding: 0 15px 0 0;

    }

    .page-header .nav-primary .ubermenu > ul > li:not(:first-child) {
        padding-left: 0;
    }

    .page-header .nav-primary li.menu-item-has-children a {
        padding-right: 18px;
    }

    .sub-menu-toggle {
        right: 20px;
    }

    .nav-primary .ubermenu-active > a:not(.btn):hover,
    .nav-primary .ubermenu-active > a:not(.btn) {
        color: #2474BB;
    }

}

@media (min-width: 1366px) {
    .page-header .nav-primary li {
        padding: 0 20px;
    }


}


/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i { /* controls styling of mobile menu toggle */
    display: block; 
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}

.mobile-menu {
    position:  relative;
    z-index: 9;
}

.ubermenu > ul > li > a {
    padding-top: 16px !important; /* controls top level menu items on desktop size */
    padding-bottom: 16px !important;
    padding-left: 22px !important;
    display: block;
}

.ubermenu > ul > li:not(:last-child) {
    border-bottom: 1px solid var(--color-border) !important;
}

@media (min-width: 768px) {
    .ubermenu > ul > li > a {
        padding-left: 55px !important;
    }
}

.nav-primary .ubermenu .ubermenu-item-type-column>.ubermenu-submenu-type-stack>.ubermenu-item-normal:first-child {
    margin-top: 0;
}

@media (min-width: 1200px) {
    .nav-primary .ubermenu .ubermenu-nav .ubermenu-row > .ubermenu-item:not(:last-child),
    .ubermenu-item-type-column>.ubermenu-submenu-type-stack>.ubermenu-item-normal:not(:last-child) {
        margin-bottom: 10px;
    }
}

.nav-primary .ubermenu-responsive .ubermenu-item.ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega {
    box-shadow: none;
}

@media (min-width: 1200px) {
    .nav-primary .ubermenu-responsive .ubermenu-item.ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .ubermenu > ul > li:not(:last-child) {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 1200px) {
  .ubermenu > ul > li > a {
      padding-top: 40px !important; /* controls top level menu items on desktop size */
      padding-bottom: 40px !important;
      padding-left: 0 !important;
      display: block;
      position: relative;
  }

  .ubermenu > ul > li:not(:last-child) {
    border: 0;
  }

  .ubermenu > ul > li > a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0 0;
    background-color: var(--color-primary);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .ubermenu > ul > li:hover > a:before,
  .ubermenu > ul > li.ubermenu-active > a:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

.ubermenu-responsive.ubermenu {
    top: 80px;
    left: 0;
    max-height: 500px !important;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 91px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }

    .ubermenu-responsive.ubermenu {
        top: auto; 
    }
}

.nav-primary .ubermenu-responsive-toggle {
    display: none;
}

@media (max-width: 1199px) {
    .ubermenu-responsive.ubermenu {
        position: relative;
        top: 0;
    }

    .nav-primary {
        position: fixed;
        left: 0;
        top: 90px;
        width: 100%;
    }

    .admin-bar .nav-primary {
        top: 122px;   
    }
}

@media screen and (max-width: 782px) {
    .admin-bar .nav-primary {
        top: 136px;
    }
}

@media (max-width: 1199px) {
    .ubermenu-responsive .ubermenu-nav .ubermenu-item .ubermenu-submenu.ubermenu-submenu-drop {
        margin-top: 0 !important;
    }

    .nav-primary .ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator {
        margin-top: -30px;
        opacity: 0;
        right: 46px;
    }

    .nav-primary .ubermenu-responsive.ubermenu-mobile-accordion:not(.ubermenu-mobile-modal):not(.ubermenu-in-transition):not(.ubermenu-responsive-collapse),
    .nav-primary .ubermenu-responsive {
        max-height: calc(100% - 90px) !important;
        overflow: scroll !important;
    }
}

@media (max-width: 1199px) {
    .nav-primary .ubermenu .ubermenu-retractor {
        width: 50px;
        height: 58px;
        position: absolute;
        top: -67px;
        right: 15px;
        font-size: 0;
    }

    .nav-primary .ubermenu > ul > li > a .icon-button-down {
        color: var(--color-primary);
        font-size: 22px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 60px;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .nav-primary .ubermenu > ul > li.ubermenu-active > a {
        background-color: var(--color-secondary);
        color: var(--color-white);
    }

    .nav-primary .ubermenu > ul > li.ubermenu-active > a .icon-button-down {
        color: var(--color-white);
    }

    .nav-primary .ubermenu > ul > li.ubermenu-active a .icon-button-down {
        -webkit-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
    }

    .nav-primary .ubermenu > ul > li > .ubermenu-submenu {
        background-color: var(--color-white);
    }

    .nav-primary .ubermenu > ul > li > .ubermenu-submenu > .ubermenu-row {
        padding: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .nav-primary {
        top: auto;
        bottom: 66px;
        height: calc(100% - 66px);
        background-color: var(--color-offwhite);
    }

    .admin-bar .nav-primary {
        top: auto;
    }

    .nav-primary .ubermenu > ul > li > a .icon-button-down {
        right: 26px;
    }

    .nav-primary .ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator {
        right: 10px;
    }

    .nav-primary .ubermenu-responsive.ubermenu-mobile-accordion:not(.ubermenu-mobile-modal):not(.ubermenu-in-transition):not(.ubermenu-responsive-collapse),
    .nav-primary .ubermenu-responsive {
        max-height: none !important;
        overflow: scroll !important;
    }

    .nav-primary .ubermenu .ubermenu-row,
    .nav-primary .ubermenu .ubermenu-autocolumn,
    .nav-primary .ubermenu .ubermenu-submenu-type-stack {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .25 );
    z-index: -1000;   
}

@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {
	
	.sticky-bar {
		
		/* prevents 'home indicator' overlap */
		padding-bottom: 34px; 
		
		/* prevents content from being cut off in screen rounded corners */
		padding-left: 16px;
		padding-right: 16px;
	}
}




/**
 * Ubermenu Styling - Custom Styles
 */




/**
 * Masthead
 */

.masthead--innerpage {
    padding: 0 0;
    color: var(--color-text-default);
    background: #EFF2F4; 
    position: relative;
}

.masthead--innerpage h1 {
    color: var(--color-black);
}

.masthead__category {
    margin-top: 30px;
    position: relative;
    z-index: 9;
}

.masthead__category .form-col {
    margin-bottom: 0;
}

.masthead__category__search {
    position: relative;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .masthead__category__search {
        margin-bottom: 0;
    }
}

.masthead__category__search input {
    padding-right: 60px;
}

.masthead__category__search button[type=submit] {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    color: var(--color-primary);
}

.right-image {
    width: 100%;
    height: 200px;
    position: relative;
}

.right-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.right-image img {
    display: block;
}

.left-text-wrapper {
    padding: 40px 0 50px;
    color: var(--color-text-default);
    width: 100%;
}

.left-text-wrapper > * {
    position: relative;
    transform: translate(0, -50px);
    opacity: 0;
}

@media (min-width: 1200px) {
    .left-text-wrapper > * {
        transform: translate(-40px, 0);
    }
}

.left-text-wrapper p {
    font-size: 16px;
    line-height: 1.6em;
}

.left-text-wrapper p:last-child,
.left-text-wrapper p:last-of-type {
    padding-bottom: 0;
}


 @media (min-width: 768px) {
    .masthead {
        margin-top: 80px;
    }

    .right-image {
        height: 400px;
    }

    .left-text-wrapper {
        padding: 50px 0 60px;
    }
    
    .left-text-wrapper p {
        font-size: 18px;
        line-height: 1.52em;
        padding-bottom: 20px;
    }
 }

 @media (min-width: 1200px) {
    .masthead {
        margin-top: 108px;
    }

    .left-text-right-image,
    .masthead--innerpage {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .right-image {
        width: 820px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .right-image img {
        position: absolute;
        top: 0;
    }

    .left-text {
        width: 34.290325vw;
    }
  
    .left-text-wrapper {
        padding: 80px 80px 90px 16px;
        max-width: 100%;
        float: none;
    }

    .left-text-wrapper p {
        font-size: 20px;
    }

 }

 @media (min-width: 1250px) {
    .left-text {
        width: 38.190325vw;
    }
 }

 @media (min-width: 1366px) {
    .left-text-wrapper {
        padding: 82px 40px 94px 16px;
    }


 }

 .right-image__squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.right-image__squares > div {
    display: flex;
    width: 100%;
}

.right-image__squares > div span {
    display: block;
    background-color: var(--color-offwhite);
    width: 100%;
    position: relative;
    transform-origin: center;
    background-size: 820px auto;
}

.right-image__squares > div span:first-child {
    transform-origin: left center;
}

.right-image__squares > div span:last-child {
    transform-origin: right center;
}

/**
 * Breadcrumbs
 */

 .back-top-page {
    padding-bottom: 10px;
 }

 .back-top-page a {
    font-size: 14px;
    color: #2474BB;
    border: none;
    background: transparent;
    font-family: 'avenir_next_lt_prodemi';
    line-height: 1em;
    box-shadow: none;
}

.back-top-page a i {
    vertical-align: middle;
    padding: 0 3px 3px 0;
    font-size: 9px;
    color: #8D99AE;
    position: relative;
    top: -1.3px;
}

.breadcrumbs {
    margin-bottom: 14px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    list-style-type: none;
    color: var(--color-black);
    margin: 0;
    padding: 0 11px 0 0;
    font-family: 'avenir_next_lt_prodemi';
    border-left: 1px solid #8D99AE;
    font-size: 0;
    display: inline;
}

.breadcrumbs li:first-child {
    padding-left: 0;
    border-left: none;
}

.breadcrumbs li::before {
    display: none;
}

.breadcrumbs a,
.breadcrumbs span {
    font-size: 16px;
    line-height: 1em;
    display: inline;
}

.breadcrumbs a {
    text-decoration: none;
    box-shadow: none;
    color: #2474BB;
    border: none;
    background: transparent;
    font-family: 'avenir_next_lt_prodemi';
}

@media (min-width: 1200px) {
    .breadcrumbs a:hover {
        color: var(--color-black);
        box-shadow: none;
    }
}

.breadcrumbs a {
    display: inline-block;
    padding-right: 11px;
    border-right: 1px solid #8D99AE;
}

.breadcrumbs span {
    padding-left: 11px;
    display: inline;
}



@media (min-width: 1200px) {
    .page-header {
        padding: 0 0;
    }

    .page-header > .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .header-right {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .js-search-toggle {
        margin-top: 0;
    }

    .nav-primary {
        padding-top: 0;
        display: block !important;
    }

    .nav-primary .ubermenu .ubermenu-target {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width {
        position: fixed;
        width: 100%;
        left: 0;
        background-color: var(--color-offwhite);
        padding: 20px 0;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row {
        padding-right: var(--bs-gutter-x,16px);
        padding-left: var(--bs-gutter-x,16px);
        max-width: 1356px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: initial;
        padding-bottom: 0;
    }    

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li.header-menu-cta > ul,
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li.header-menu-cta > ul > li,
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li.header-menu-cta > ul > li .ubermenu-content-block {
        height: 100%;
        padding-bottom: 0;
        margin-top: 0;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li.header-menu-cta > ul > li {
        padding: 10px 0 10px;
    }

    .nav-primary .ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator {
        font-size: 10px;
        right: 5px;
        margin-top: -5px;
        color: var(--color-primary);
    }

    .nav-primary .ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator:before {
        content: "\e90a";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row p {
    color: var(--color-tertiary);
    font-size: 16px;
}

@media (max-width: 1199px) {
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row p {
        display: none;
    }   
}

.nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-content-block {
    padding: 0;
}

.nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-target {
    padding-left: 0;
    padding-right: 0;
    font-family: 'avenir_next_lt_prodemi';
}

@media (min-width: 1200px) {
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-target span {
        position: relative;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-target span:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--color-border);
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: right;
                transform-origin: right;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-item:hover > .ubermenu-target span:before {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: left;
                transform-origin: left;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-item:hover > .ubermenu-custom-content p {
        box-shadow: inset 0 -2px var(--color-border);
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-item > .ubermenu-custom-content p {
        line-height: 1.8em;
        display: inline;
        box-shadow: inset 0 0 var(--color-border);
        transition: box-shadow 0.3s ease-in-out;
    }
}

@media (max-width: 1199px) {
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-target {
        color: var(--color-primary);
        padding: 16px 50px 16px 70px!important;
    }
    
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li > ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li > ul > li:not(:last-child),
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row > li:not(:last-child) {
        border-bottom: 1px solid var(--color-border);
    }
}

@media (max-width: 767px) {
    .nav-primary .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-align-full_width .ubermenu-row .ubermenu-target {
        padding: 16px 23px 16px 42px !important;
    }
}

.nav-primary .nav-primary_column__title h5 {
    width: 100%;
    padding-left: 0;
    color: var(--color-offblue);
    border-bottom: 1px solid var(--color-border);
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.nav-primary .nav-primary_column__title h5:before {
    display: none;
}

@media (min-width: 768px) {
    .nav-primary .header-card,
    .nav-primary .header-card a {
        height: 100%;
    }
}

.nav-primary .header-card a {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background 0.25s ease-in-out,
                -webkit-transform 0.25s ease-in-out;
    transition: background 0.25s ease-in-out,
                transform 0.25s ease-in-out;
    transition: background 0.25s ease-in-out,
                transform 0.25s ease-in-out,
                -webkit-transform 0.25s ease-in-out;
}

@media (min-width: 1200px) {
    .nav-primary .header-card a:hover {
        -webkit-transform: scale(1.01);
                transform: scale(1.01);
    }

    .nav-primary .header-card a:hover .header-card__icon {
        color: var(--color-secondary);
    }
}

.header-card__image {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 66.65%;
    overflow: hidden;
    border-radius: 6px;
}

.header-card__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.header-card__content {
    padding: 20px 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-card__content h3 {
    font-size: 18px;
    transition: color 0.25s ease-in-out;
}

.header-card__icon {
    color: var(--color-primary);
    transition: color 0.25s ease-in-out;
    margin-top: auto;
}

.header-cta {
    height: 100%;
    background-color: var(--color-black);
    padding: 50px 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .header-cta {
        margin-top: auto;
        padding: 30px 20px;
    }
}

.header-cta h2 {
    font-size: 32px;
}

.header-cta h2,
.header-cta p,
.header-cta a {
    position: relative;
    z-index: 2;
}

.header-cta h2,
.header-cta p {
    color: var(--color-white) !important;
}

.header-cta i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    text-align: center;
    left: 0;
    opacity: 0.5;
    font-size: 150px;
}

@media (min-width: 1200px) {
    .header-cta i {
        font-size: 200px;
    }
}

@media (min-width: 1200px) {
    .header-cta i {
        font-size: 240px;
    }
}

.header-card__row {
    display: block;
}

@media (min-width: 768px) {
    .header-card__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px -20px 0;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .header-card__row {
        margin: 0 -20px;
    }
}

.header-card__item {
    flex: 1;
}

@media (min-width: 768px) {
    .header-card__item {
        padding: 0 20px;
        max-width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .header-card__item {
        max-width: none;
        min-width: 33.33%;
    }
}

.page-header .nav-primary .ubermenu-submenu.ubermenu-submenu-type-flyout > li {
    padding: 0;
}

.page-header .nav-primary .ubermenu-submenu.ubermenu-submenu-type-flyout > li > a {
    padding: 10px 22px;
}

@media (min-width: 1200px) {
    .page-header .nav-primary .ubermenu-submenu.ubermenu-submenu-type-flyout {
        width: 200px;
    }
}

.masthead--sticky {
    margin-top: 0;
    padding: 22px 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 69px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out,
                -webkit-transform 0.3s ease-in-out;
}

.masthead--sticky.is-sticky {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

@media (min-width: 768px) {
    .masthead--sticky {
        top: 91px;
    }
}

@media (min-width: 1200px) {
    .masthead--sticky {
        top: 108px;
    }

    .admin-bar .masthead--sticky {
        top: 139px;
    }
}

@media screen and (max-width: 782px) {
    .admin-bar .masthead--sticky {
        top: 137px;
    }
}

@media screen and (max-width: 767px) {
    .admin-bar .masthead--sticky {
        top: 115px;
    }
}

.masthead--sticky .masthead__category {
    margin-top: 0;
    width: 100%;
}

.masthead--sticky .container {
    display: flex;
    flex-direction: column;
}

.masthead--sticky .masthead__category__search {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .masthead--sticky .masthead__category__search {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .masthead--sticky .masthead__category {
        width: 50%;
    }

    .masthead--sticky .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loader__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.loader__text {
    height: 92px;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
}

@media (min-width: 768px) {
    .loader__text {
        height: 92px;
    }
}

.loader__text__inner {
    margin-top: 92px;
}

.loader__text__item {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: var(--color-white);
    font-family: 'avenir_next_lt_probold';
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .loader__text__item {
        font-size: 60px;
    }
}

.loader__text__item img {
    max-width: 400px;
    height: auto;
}

@media (max-width: 767px) {
    .loader__text__item img {
        max-width: 200px;
        height: auto;
    }   
}

.loader__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loader__background > div {
    display: flex;
    width: 100%;
    font-size: 0;
}

.loader__background > div span {
    display: block;
    font-size: 0;
    background-color: var(--color-primary);
    width: 100%;
    position: relative;
    transform-origin: center;
}

.loader__background > div span:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform: scale(1.05);
}

.loader__background svg,
.loader__background img {
    width: 100%;
    height: 100%;
}

.loader__background polygon {
    fill: var(--color-primary);
    stroke-width: 4px;
    stroke: var(--color-primary);
}

.loader__squares {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 280px;
    height: 280px;
}

@media (min-width: 768px) {
    .loader__squares {
        width: 600px;
        height: 600px;
    }
}

.loader__squares > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    opacity: 0;
}

.loader__squares > span:first-child:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-white);
}

.loader__squares > span:nth-child(2):before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-white);
    transform: scale(0.8);
}

/* start styles for animating any elements in header */
    /* .page-header .nav-primary .ubermenu>ul>li {} */
/* end of styles for animation any elements in header */