/*------------------------------------*\
    
    Global Print CSS

    You can include block or page specific print styling within its respective CSS stylesheet

\*------------------------------------*/


 @media print {

    /* Reset*/
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        filter: none !important;
        -webkit-filter: none !important;
        text-shadow: none !important;
    }

    h2, h3 {
        /* Avoid a paragraph being detached from the heading immediately preceding it */
        page-break-after: avoid;
    }

    figure, table {
        /* Avoid breaking figure or table into 2 pages */
        -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
                break-inside: avoid;
        page-break-inside: avoid;
    }

    p {
        /* Prevent single line at the end of a page and a single line at the top the next page */
        orphans: 2;
        widows: 2;
    }

    /* Slick Slider - remove if not using slick slider */

    .slick-slider .slick-arrow,
    .slick-slider .slick-dots {
    display: none !important; /* we usually don't need to show slider navigation for print */
    }

    /* For sliders you want to display full width for print.
      Update ".slick-slider" with your specific slider names. */
    .slick-slider,
    .slick-slider .slick-list,
    .slick-slider .slick-track,
    .slick-slider .slick-slide {
    width: 100% !important;
    height: auto !important;
    }

    /* For sliders where you only want to show the 1st image of that slider.
      Update ".slick-slider" with your specific slider names. */
    .slick-slider .slick-slide 				{ display: none !important; }
    .slick-slider .slick-slide.slick-active { display: block !important; }

    /* Show Only Active Thumbnails */
    .slick-slider .slick-cloned {
    display: none;
    }

    /* Reset adaptiveHeight */
    .slick-list {
        height: auto !important;
    }

    /* Remove Scrollbars */
    .slick-track {
        width: auto !important;
        height: auto !important;
        -webkit-transform: none !important;
                transform: none !important;
    }

    .slick-track.slick-slide {
        width: auto !important;
    }
}