/*------------------------------------*\
    
    WebFX CF7 Customizations - Global styling for all CF7 Forms

    Add custom CF7 form styling to this file if it should be applied to all CF7 forms on the site
    Otherwise, put your block-specific styles in individual block stylesheets so that various block-specific styles aren't loaded on every CF7 form

\*------------------------------------*/


.wpcf7-form .wpcf7-not-valid-tip {
    display: block;
    color: #DA1F2C !important;
    font-size: 11px;
    position: relative;
    font-weight: normal;
    padding-top: 5px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'avenir_next_lt_prodemi';
}

.wpcf7-form .choices + .wpcf7-not-valid-tip {
    margin-top: -23px;
}

.wpcf7-form .wpcf7-not-valid-label {
  color: #DA1F2C !important;
}

.wpcf7-form .wpcf7-not-valid-tip:before {
    content: '\e90c';
    font-family: 'icomoon';
    position: absolute;
    right: 15px;
    top: -45px;
    color: #DA1F2C;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
} 

.wpcf7-form select.wpcf7-not-valid,
.wpcf7-form textarea.wpcf7-not-valid,
.wpcf7-form input.wpcf7-not-valid,
.wpcf7-form .wpcf7-not-valid .choices {
    border: 1px solid #DA1F2C !important;
    outline: none;
    padding-right: 50px;
    background-color: var(--color-white);
}


@media (min-width: 1200px) {
  .wpcf7-form .wpcf7-not-valid-tip {
      font-size: 12px;
  }

  .wpcf7-form .wpcf7-not-valid-tip:before {
      right: 20px;
      top: -50px;;
      font-size: 30px;
  } 


}


.wpcf7-form-control-wrap {
    position: relative;
    display: block;
}