/*------------------------------------*\
    
    Contained Image + Text Block Customizations - Global Styling

    The styles you add to this file will be applied to the 'Contained Image + Text' block. 
    If there is any reasons why you would need to style them separately,
    please create a block-specific stylesheet for it (don't forget to register that block-specific stylesheet in acf-start-blocks.php)

\*------------------------------------*/

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.image-text .flex-row {
    align-items: center
}

.image-text.bg-gray + .image-text.bg-gray {
    padding-top: 0 !important;
} 

.image-text__img {
    height: auto;
    margin-bottom: 30px;
    position: relative;
}

.image-text__img img {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    object-position: center bottom;
}

.image-text__text h2,
.image-text__text h3 {
    color: var(--color-black);
}

.image-text__text h4 {
    color: #2474BB;
}

.js-text-video-cover-link {
    display: block;
    height: 100%;
}

.image-video-text__link {
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-video-text__link__icon {
    width: 70px;
    height: 70px;
    position: relative;
}

.image-video-text__link__icon:before,
.image-video-text__link__icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    animation: pulseActive 0.9s ease-in-out forwards;
}

.image-video-text__link__icon:before {
    background-color: rgba(255, 255, 255, 0.2)
}

.image-video-text__link__icon:after {
    animation-delay: 0.3s;
    background-color: rgba(255, 255, 255, 0.4)
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes pulseActive {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.image-video-text__link svg {
    width: 70px;
    height: 70px;
    transition: all .3s;
    position: relative;
    z-index: 2;
}

.image-text__text ul {
    padding-left: 0;
    padding-bottom: 0;
}

.image-text__text ul li {
    margin-bottom: 7px;
}

@media (min-width:768px) {
    .image-text__img {
        height: auto;
        margin-bottom: 40px;
    }

    .image-video-text__link__icon,
    .image-video-text__link svg {
        width: 96px;
        height: 96px;
    }
}

@media (min-width:1200px) {
    .flex-opposite {
        flex-direction: row-reverse;
    }

    .image-text--right .image-text__text {
        padding-right: 90px;
    }

    .image-text--left .image-text__text {
        padding-left: 90px;
    }

    .image-text__img {
        height: auto;
        margin-bottom: 0;
    }

    .image-text--video .image-text__text {
        padding-right: 0;
    }

    .image-text--video .image-text__img {
        padding-left: 97px;
    }

    .image-video-text__link:hover .image-video-text__link__icon:before,
    .image-video-text__link:hover .image-video-text__link__icon:after {
        animation: pulse 1.15s ease-in-out infinite;
    }
    
    .image-video-text__link:hover .image-video-text__link__icon:after {
        animation-delay: 0.25s;
    }
}

.image-text--boxed-container {
    background-color: transparent;
}

.image-text--boxed-container.bg-white {
    background-color: var(--color-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

.image-text--boxed-container.bg-gray .container {
    background: #EFF2F4;
    padding: 60px 22px;
    border-radius: 20px;
    max-width: calc(100% - 44px);
}

@media (min-width: 768px) {
    .image-text--boxed-container.bg-gray .container {
        padding: 70px 52px;
        max-width: calc(100% - 108px);
    }
}

@media (min-width: 1200px) {
    .image-text--boxed-container.bg-gray .container {
        padding: 70px 81px ;
        max-width: 1356px;
    }
}

.image-text--left .image-text__text > *,
.image-text--right .image-text__text > * {
    position: relative;
    transform: translate(0, -50px);
    opacity: 0;
}

.image-text--left .image-text__img,
.image-text--right .image-text__img {
    position: relative;
    transform: translate(0, -50px);
    opacity: 0;
}

@media (min-width: 1200px) {
    .image-text--left .image-text__text > * {
        transform: translate(50px, 0);
    }
    
    .image-text--right .image-text__text > * {
        transform: translate(-50px, 0);
    }
    
    .image-text--left .image-text__img {
        transform: translate(-50px, 0);
    }
    
    .image-text--right .image-text__img {
        transform: translate(50px, 0);
    }
}