/*------------------------------------*\
    
    WebFX Ninja Tables Customizations - Global Styling for Responsive Tables

    Add custom Ninka tables styling to this file if it should be applied to all Ninja tables on the site
    Otherwise, put your styles in individual block stylesheets

\*------------------------------------*/
