/*------------------------------------*\
    
    WebFX WYSIWYG Customizations - Global styling for all ACF WYSIWYG's

    Add custom WYSIWYG styling to this file if it should be applied to all ACF WYSIWYG's on the site
    Otherwise, put your block-specific styles in individual block stylesheets

\*------------------------------------*/

.wysiwyg { 
    position: relative;
}

.example-btn .btn {
    margin-bottom: 15px;
}

@media (min-width: 768px) {

    .example-btn br {
        display: none;
    }

    .example-btn .btn {
        margin-bottom: 0;
        margin-right: 10px;
    }
}



.progress,
.progress-1  {
    display: block;
    width: calc(100% - 90px);
    height: 6px;
    border-radius: 99px;
    overflow: hidden;
    background-color: var(--color-white);
    background-image: linear-gradient(to right, #DA1F2C, #DA1F2C);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
    margin: 0 auto;
}
  
@media (min-width: 1200px) {
    .masthead__right .progress,
    .masthead__right .progress-1 {
        display: none;
    }
}


/* table */

.table-structure {
    padding: 0 0 0 0;
    position: relative;
    color: var(--color-text-default);
    box-shadow: 0 0 20px rgba(0,0,0,0.10);
    border-radius: 20px;
    overflow: initial;
}

.table-structure table {
    border-collapse: collapse;
    width: 872px;
    border-radius: 20px;
    overflow: hidden;
}

.table-structure table thead {
    background-color: #2474BB;
    color: var(--color-white);
}

.table-structure table thead tr th {
    padding: 15px 25px;
    text-align: left;
    font-size: 16px;
    font-family: 'avenir_next_lt_probold';
    font-weight: normal;
    border: none;
    color: var(--color-white);
}

.table-structure table tbody tr {
    background-color: #EFF2F4;
}

.table-structure table tbody tr:nth-child(odd) {
    background-color: var(--color-white);
}

.table-structure table tbody tr td,
.table-structure table tbody tr th {
    padding: 12px 20px 12px 25px;
    text-align: left;
    font-size: 15px;
    font-family: 'avenir_next_lt_proregular';
    font-weight: normal;
    color: var(--color-text-default);
    line-height: 1.4em;
    vertical-align: top;
}

.table-scroll {
    border-radius: 20px;
    position: relative;
    padding-bottom: 30px;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 20px;
}

.table-scroll .mCustomScrollBox {
    overflow: initial;
}

.table-scroll .mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 0;
}

.table-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -27px;
    background-color: var(--color-offwhite);
    border-radius: 20px;
    height: 8px;
    opacity: 1;
}

.table-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.table-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    margin: 0;
}

.table-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    position: relative;
    top: -6px;
    height: 8px;
    background-color: var(--color-secondary);
}

.table-scroll .mCSB_scrollTools .mCSB_dragger {
    transition: 0.2s ease-in-out;
}

.table-scroll {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .table-scroll {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .table-structure table {
        width: 910px;
    }

    .table-scroll {
        margin-right: -80px;
        padding-left: 0;
    }

    .table-structure table thead tr th {
        padding: 18px 25px;
        font-size: 17px;
    }
    
    .table-structure table tbody tr td,
    .table-structure table tbody tr th {
        padding: 16px 20px 16px 25px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .table-scroll {
        padding-bottom: 0;
        overflow-x: visible;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .table-structure {
        padding: 0 0;
    }    

    .table-structure table {
        width: 100%;
    }

    .table-structure table thead tr th {
        padding: 17px 35px;
        font-size: 18px;
    }
    
    .table-structure table tbody tr td,
    .table-structure table tbody tr th {
        padding: 20px 14px;
        font-size: 17px;
    }

    .table-structure table tbody tr th {
        width: 276px;
        padding-right: 0;
        padding-left: 35px;
    }

    .table-structure table tbody tr td:last-child {
        width: 370px;
        padding-right: 30px;
    }

    .table-structure table tbody tr td:nth-child(2) {
        width: 288px;
    }
}











