.counter-block {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.counter-bar {
    background: #2474BB;
    border-radius: 20px;
    padding: 30px;
    color: var(--color-white);
}

.counter-bar ul {
    margin: 0;
    padding: 0;
}

.counter-bar ul li {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid rgba(253, 253, 253, 0.25);
}

.counter-bar ul li:last-child {
    padding-bottom: 10px;
}

.counter-bar ul li:first-child {
    padding-top: 0;
    border-top: none;
}

.counter-bar ul li::before {
    display: none;
}

.counter-bar h2 {
    padding: 0 0 0;
    font-size: 46px;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-block.counter-block--white {
    padding: 0;
}

.counter-block--white .counter-bar {
    background: var(--color-white);
    border-radius: 0;
    padding: 0;
    color: #8D99AE;
}

.counter-block--gray .counter-bar {
    background: #EFF2F4;
    color: #8D99AE;
}

.counter-block--white .counter-bar h2,
.counter-block--gray .counter-bar h2 {
    color: #2474BB;
}

.counter-block--white .counter-bar ul li,
.counter-block--gray .counter-bar ul li {
    border-color: rgba(141, 153, 174, 0.25);
}

@media (min-width: 768px) {
    .counter-block {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .counter-item {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .counter-bar ul li {
        max-width: 33.333%;
        flex: 1;
        padding: 0 5px;
        border-top: none;
        border-left: 1px solid rgba(253, 253, 253, 0.25);
    }

    .counter-bar p {
        font-size: 16px;
        line-height: 1.4em;
    }

    .counter-bar ul li:last-child {
        padding-bottom: 0;
    }

    .counter-bar ul li:first-child {
        border-left: none;
    }

    .counter-bar {
        padding: 30px 30px 40px;
    }
}

@media (min-width: 1200px) {
    .counter-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .counter-bar ul li {
        padding: 0 30px;
    }

    .counter-bar p {
        font-size: 20px;
        line-height: 1.4em;
    }

    .counter-bar h2 {
        padding: 0 0 0;
        font-size: 60px;
    }

    .counter-bar {
        padding: 50px 30px 60px;
    }

    .counter-block--white .counter-bar ul li {
        padding: 0 20px;
    }

}






@-webkit-keyframes duepduep {

    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(-40px, 0);
                transform: translate(-40px, 0);
    }

    75% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}






@keyframes duepduep {

    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(-40px, 0);
                transform: translate(-40px, 0);
    }

    75% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}