.masthead {
    position: relative;
}

.masthead--homepage {
    padding-top: 20px;
}

.masthead__left {
    margin-bottom: 20px;
    background: #EFF2F4;
    border-radius: 20px;
    padding: 20px 20px 30px;
    color: var(--color-text-default);
}

.masthead__image {
    margin-bottom: 20px;
}

.masthead__image img {
    border-radius: 10px;
}

.masthead__info {
    padding: 0 10px;
}

.masthead__info h3 span {
    font-style: italic;
}

.masthead__info .btn + .btn {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .masthead--homepage {
        padding-top: 40px;
    }

    .masthead__left {
        margin-bottom: 30px;
        padding: 20px 20px 40px;
    }

    .masthead__info {
        padding: 0 20px;
    }

    .masthead__info .btn + .btn {
        margin-top: 0;
        margin-left: 20px;
    }

}

@media (min-width: 1200px) {
    .masthead__right {
        width: 420px;
        float: right;
    }

    .masthead__left {
        width: calc(100% - 452px);
        float: left;
        padding-bottom: 50px;
    }

    .masthead__image {
        margin-bottom: 30px;
    }

    .masthead__info {
        padding: 0 30px;
    }

    .masthead__info h3 {
        padding-bottom: 10px;
    }

    .masthead__info h3 span {
        font-style: inherit;
    }

    .masthead__info p {
        padding-bottom: 20px;
    }
}


/* masthead__right */

.masthead__right__column {
    background: #EFF2F4;
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.masthead__slider-col {
    background: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.masthead__slider-image {
    width: 80px;
    height: 97px;
}

.masthead__slider-image img {
    border-radius: 5px;
}

.masthead__slider-info {
    width: calc(100% - 80px);
    padding-left: 15px;
    color: var(--color-black);
    position: relative;
    height: 97px;
}

.masthead__slider-info h3 {
    font-size: 16px;
    padding: 0;
    color: var(--color-black);
}

.masthead__slider-link {
    position: absolute;
    left: 15px;
    bottom: 0;
    font-size: 20px;
    color: #2474BB;
}

.masthead__slider-link a {
    background: transparent;
}

.masthead__slider__item {
    padding: 0 10px;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.js-masthead__slider2.is-animating .masthead__slider__item {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}

.js-masthead__slider,
.js-masthead__slider2 {
    position: relative;
    padding-bottom: 15px;
}

.js-masthead__slider::before,
.js-masthead__slider2::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -16px;
    width: 45px;
    height: 120px;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%);
    z-index: 1;
    background: linear-gradient(to right,  rgba(239,242,244,0) 0%,rgba(239,242,244,0.75) 100%);
}

.js-masthead__slider::after,
.js-masthead__slider2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 45px;
    height: 120px;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%);
    background: linear-gradient(to right,  rgba(239,242,244,0.75) 0%,rgba(239,242,244,0) 100%);
}

.slider-nav {
    border-top: 1px solid #D1D8DD;
    padding: 22px 20px 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 60px;
}

.slider-nav__prev,
.slider-nav__next {
    width: 174px;
    height: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 1.21em;
    font-family: 'avenir_next_lt_proregular';
}

.slider-nav__prev {
    padding-left: 50px;
}

.slider-nav__next {
    padding-right: 50px;
    justify-content: flex-end;
    text-align: right;
}

.masthead__right .slick-arrow {
    bottom: -79px;
}

.masthead__right__column1 {
    position: relative;
}

@media (min-width: 1200px) {
    .masthead__right__column {
        float: left;
        width: calc(50% - 16px);
    }

    .masthead__right__column1 {
        margin-right: 16px;
    }

    .masthead__right__column2 {
        margin-left: 16px;
    }

}

@media (min-width: 1200px) {
    .masthead__right__column {
        float: none;
        width: 100%;
        margin: 0;
    }

    .masthead__right__column1 {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .masthead__right__column2 {
        margin-left: 0;
    }

    .masthead__slider-col {
        padding: 15px;
    }

    .masthead__slider-image {
        width: 110px;
        height: 121px;
    }

    .masthead__slider-image img {
        border-radius: 6px;
    }

    .masthead__slider-info {
        width: calc(100% - 110px);
        height: 121px;
        padding-right: 20px;
    }

    .masthead__slider-info h3 {
        font-size: 20px;
    }

    .masthead__right__column1 .masthead__slider-col {
        display: block;
    }

    .masthead__right__column1 .masthead__slider-image {
        width: 100%;
        height: 198px;
    }

    .masthead__right__column1 .masthead__slider-info {
        width: 100%;
        height: auto;
        padding: 10px 5px;
    }

    .masthead__right__column1 .masthead__slider-link {
        left: auto;
        bottom: 0;
        right: 5px;
    }

    .js-masthead__slider::before{
        right: 0px;
        top: 0;
        width: 45px;
        height: 277px;
        -webkit-transform: none;
                transform: none;
    }

    .js-masthead__slider2::before {
        right: 0px;
        top: 0;
        width: 45px;
        height: 151px;
        -webkit-transform: none;
                transform: none;
    }

    .js-masthead__slider::after {
        top: 0;
        left: 0px;
        width: 45px;
        height: 277px;
        -webkit-transform: none;
                transform: none;
    }

    .js-masthead__slider2::after {
        top: 0;
        left: 0px;
        width: 45px;
        height: 151px;
        -webkit-transform: none;
                transform: none;
    }

    .js-masthead__slider, 
    .js-masthead__slider2 {
        padding-bottom: 0;
    }

}



.masthead__right__column1 {
    padding: 10px;
}

.masthead__tiles {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
    text-align: center;
    position: relative;
}
  
.masthead__tiles__col {
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-basis: auto;
    padding-right: 0;
    padding-left: 0;
    margin: 5px 5px;
    width: calc(50% - 10px);
    cursor: pointer;
}

.masthead__tiles__image {
    width: 100%;
    height: 106px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-black);
}

.masthead__tiles__image > span {
    display: block;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(36,116,187,0.7);
    z-index: 1;
}

.masthead__tiles__image img {
    border-radius: 10px;
    opacity: 0.7;
}

.masthead__tiles__info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.masthead__tiles__info h4 {
    padding: 0;
    color: var(--color-white);
    font-size: 17px;
}

.image-buttons__popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 5px;
}

.image-buttons__popup__wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: var(--color-white);
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    display: none;
    z-index: 3;
}

.image-buttons__popup__column {
    background: var(--color-white);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    text-align: left;
    height: 100%;
}

.image-buttons__popup__image {
    width: 100%;
    height: 145px;
    border-radius: 10px;
}

.image-buttons__popup__image img {
    display: block;
    border-radius: 10px;
    height: auto;
}

.image-buttons__popup__info {
    padding: 20px 0 0;
    color: var(--color-text-default);
    position: relative;
}

.image-buttons__popup__info h3 i {
    position: absolute;
    right: 15px;
    top: 24px;
    font-size: 20px;
    color: #2474BB;
}

.popup-cross {
    position: absolute;
    right: 0;
    top: 0;
    background: #8D99AE;
    height: 30px;
    width: 30px;
    border-radius: 0 10px 0 10px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-cross i {
    color: #fff;
}  

.image-buttons__popup {
    display: none;
}


@media (min-width: 768px) {
    .masthead__right__column1 {
        padding: 10px 20px;
    }
    
    .masthead__tiles {
        margin-right: -10px;
        margin-left: -10px;
    }
      
    .masthead__tiles__col {
        margin: 10px 10px;
        width: calc(33.33% - 20px);
    }

    .image-buttons__popup__info h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .image-buttons__popup__info p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {

    .masthead__tiles__col {
        margin: 10px 10px;
        width: calc(50% - 20px);
    }

    .image-buttons__popup__column {
        padding: 15px;
        border-radius: 16px;
    }

    .image-buttons__popup__info {
        padding: 20px 15px 0;
    }

    .image-buttons__popup__image {
        height: 218px;
    }

    .image-buttons__popup {
        padding: 8px;
    }

    .popup-cross {
        height: 36px;
        width: 36px;
    }

    .popup-cross:hover {
        background: #DA1F2C;
    }
}

.image-buttons__popup__wrapper .popup-cross {
    z-index: 3;
}

.image-buttons__popup__wrapper .image-buttons__popup__image {
    position: relative;
    overflow: hidden;   
    -webkit-transform-origin: top;   
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
}

.image-buttons__popup__wrapper .image-buttons__popup__image span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}

.image-buttons__popup__wrapper .image-buttons__popup__info h3 i {
    top: 3px;
}

.image-buttons__popup__wrapper .image-buttons__popup__info h3 {
    padding-bottom: 0;
    margin-bottom: 10px;
    position: relative;
}

.image-buttons__popup__wrapper .image-buttons__popup__description {
    position: relative;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
}