
.testimonials__top-content,
.tab-block__top-content {
    padding-bottom: 30px;
    color: var(--color-text-default);
}

.tab-column {
    width: 200px;
    padding-bottom: 15px;
    border: 0;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
    position: relative;
}

.tab-column:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #EFF2F4;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

@media (min-width: 1200px) {
    .tab-column p {
        transition: color 0.25s ease-in-out;
    }

    .slick-slide:not(.slick-current.slick-active) .tab-column:hover:before {
        background-color: var(--color-primary);
    }

    .slick-slide:not(.slick-current.slick-active) .tab-column:hover p {
        color: #333;
    }
}

.tab-column img {
    margin: 0 auto;
    height: 40px;
    cursor: pointer;
    opacity: 0.4;
}

.testimonials__wrap,
.tab-wrap {
    margin-right: -22px;
}

.js-tab-menu .slick-slide,
.js-simple-tab-menu .slick-slide {
    margin: 0 10px;
}

@media (min-width: 768px) {
    .js-tab-menu .slick-slide.is-current .tab-column:before,
    .js-simple-tab-menu .slick-slide.is-current .tab-column:before {
        background-color: var(--color-primary);
    }

    .js-tab-menu .slick-slide.is-current .tab-column img,
    .js-simple-tab-menu .slick-slide.is-current .tab-column img {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .js-tab-menu .slick-slide.slick-current.slick-active .tab-column:before,
    .js-simple-tab-menu .slick-slide.slick-current.slick-active .tab-column:before {
        background-color: var(--color-primary);
    }

    .js-tab-menu .slick-slide.slick-current.slick-active .tab-column img,
    .js-simple-tab-menu .slick-slide.slick-current.slick-active .tab-column img {
        opacity: 1;
    }
}

.tab-content {
    margin: 25px 22px 30px 0;
    background: var(--color-black);
    border-radius: 20px;
    padding: 30px 30px 35px;
    color: var(--color-white);
}

.stars {
    padding-bottom: 19px;
}

.stars ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.stars ul li {
    padding: 0;
    margin: 0 5px 0 0;
    font-size: 17px;
    color: #DA1F2C;
    line-height: 1em;
}

.stars ul li::before {
    display: none;
}

.testimonials__info p {
    font-size: 18px;
    font-family: 'avenir_next_lt_proregular';
    line-height: 1.44em;
    padding: 0 0 16px;
}

.testimonials-author {
    font-size: 18px;
    font-family: 'avenir_next_lt_prodemi';
    line-height: 1.2em;
    padding: 0 0 5px;
    color: #2474BB;
    display: block;
}

.testimonials-author-position {
    font-size: 15px;
    font-family: 'avenir_next_lt_proregular';
    line-height: 1.2em;
    padding: 0 0;
    color: var(--color-white);
    display: block;
}

.tab-column {
    cursor: pointer;
}

.tab-column p {
    font-size: 16px;
    font-family: 'avenir_next_lt_probold';
    color: #8D99AE;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: normal;
}

.js-tab-menu .slick-slide.slick-current.slick-active .tab-column,
.js-simple-tab-menu .slick-slide.slick-current.slick-active .tab-column {
    color: var(--color-black);
}

.tab-wrap .tab-column {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tab-content--inner {
    margin: 25px 22px 30px 0;
    background: #EFF2F4;
    border-radius: 20px;
    padding: 30px 30px 35px;
    color: var(--color-text-default);
}

.tab-content--inner h4 {
    font-size: 20px;
    font-family: 'avenir_next_lt_probold';
    color: #8D99AE;
    font-weight: normal;
    padding-bottom: 18px;
    line-height: 1.3em;
    color: var(--color-black);
}

.tab-content__image {
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.tab-content__image img {
    display: block;
    border-radius: 20px;
}

.testimonials__image {
    margin-top: 30px;
}

.testimonials__image img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonials__image--image-thumbnail {
    position: relative;
}

.testimonials__image--image-thumbnail img {
    max-width: 250px;
    height: 250px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .tab-column {
        width: 100%;
    }

    .tab-content {
        margin: 25px 0 30px 0;
        padding: 40px 50px 45px;
    }

    .testimonials__wrap {
        margin-right: 0px;
    }

    .tab-wrap {
        margin-right: -52px;
    }

    .stars ul li {
        font-size: 19px;
    }

    .testimonials__info p {
        font-size: 22px;
    }

    .testimonials-author {
        font-size: 20px;
    }

    .testimonials-author-position {
        font-size: 17px;
    }

    .js-tab-menu .slick-slide,
    .js-simple-tab-menu .slick-slide {
        margin: 0 16px;
    }

    .tab-column p {
        font-size: 17px;
    }

    .tab-content--inner {
        margin: 25px 52px 30px 0;
        padding: 40px 50px 45px;
    }
    
    .tab-content--inner h4 {
        font-size: 22px;
    }
    
    .tab-content__image {
        height: 340px;
        margin-top: 30px;
    }
    
}

@media (min-width: 1200px) {
    .tab-column img {
        height: auto;
    }

    .testimonials__top-content,
    .tab-block__top-content {
        padding-bottom: 40px;
    }

    .tab-content {
        margin: 35px 0 40px 0;
        padding: 80px;
        display: flex;
        position: relative;
    }

    .testimonials__info {
        width: 52%;
        padding-right: 22px;
    }

    .testimonials__image {
        width: 48%;
        margin-top: 0;
    }

    .testimonials__image img {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 85%;
        width: auto;
        right: 0;
        left: auto;
        object-position: right;
        max-width: initial;
    }

    .testimonials__wrap,
    .tab-wrap {
        margin-right: 0px;
    }

    .stars ul li {
        font-size: 25px;
    }

    .testimonials__info p {
        font-size: 30px;
        line-height: 1.46em;
        padding-bottom: 30px;
    }

    .testimonials-author {
        font-size: 24px;
    }

    .testimonials-author-position {
        font-size: 18px;
    }

    .js-tab-menu,
    .js-simple-tab-menu {
        margin: 0 -16px;
    }

    .tab-content--inner {
        margin: 40px 0 30px 0;
        padding: 59px 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    
    .tab-content--inner h4 {
        font-size: 26px;
    }
    
    .tab-content__image {
        margin-top: 0;
        width: 50%;
    }

    .tab-content__info {
        width: 50%;
        padding-right: 95px;
    }

    .tab-column p {
        font-size: 18px;
    }

    .tab-wrap .tab-column {
        padding-left: 0;
        padding-right: 0;
    }

}


.testimonials--general-tab .tab-content {
    background-color: var(--color-offwhite);
    margin-right: 0;
    margin-top: 0;
}

.testimonials--general-tab .js-tab-for,
.testimonials--general-tab .js-simple-tab-for {
    margin-top: 20px;
}

.testimonials--general-tab .tab-content-item,
.testimonials--general-tab .tab-content {
    height: 100%;
}

.testimonials--general-tab .tab-content-item {
    border-radius: 20px;
    overflow: hidden;
    padding-right: 22px;
}

@media (min-width: 768px) {
    .testimonials--general-tab .tab-content-item {
        padding-right: 0;
    }
}

.testimonials--general-tab .tab-content {
    overflow: hidden;
    align-items: center;
}

@media (min-width: 768px) {
    .testimonials--general-tab .tab-content {
        margin-bottom: 0;
    }
}

.testimonials--general-tab .tab-content li {
    color: var(--color-black);
}

.testimonials--general-tab .testimonials__image img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 30px;
    max-width: 500px;
    margin: 0 auto;
}

.testimonials .slick-track {
    display: flex;
}

.testimonials .slick-slide {
    height: inherit;
}

.testimonials .slick-slide > div,
.testimonials .slick-slide .tab-menu-item,
.testimonials .slick-slide .tab-column {
    height: 100%;
}

.testimonials .js-tab-menu .slick-slide {
    height: inherit;
}

.testimonials--general-tab .js-tab-menu .slick-slide > div,
.testimonials--general-tab .js-tab-menu .slick-slide .tab-menu-item,
.testimonials--general-tab .js-simple-tab-menu .slick-slide > div,
.testimonials--general-tab .js-simple-tab-menu .slick-slide .tab-menu-item {
    height: 100%;
}

.testimonials .slick-slide .tab-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials--general-tab .testimonials__info p {
    font-size: 18px;
    color: var(--color-black);
}

@media (min-width: 1200px) {
    .testimonials--general-tab .testimonials__info p {
        font-size: 22px;
    }
}